
.statistics-container {
    display: flex;
    justify-content: center;
    margin-top: 60px;
}

.statistics-container>div {
    display: flex;
    border: 2px solid rgba(135, 183, 40, 0.651);
    justify-content: center;
    font-family: Neurial Grotesk;
    width: 60%;
    justify-content: space-between;
    padding: 40px;

}

.box-container {
    justify-content: space-between;
    border-right: 1px solid rgba(135, 183, 40, 0.651);
    padding-right: 5%;
    padding-left: 1%;
}

.box-container h1 {
    margin: 0;
    font-weight: 600;
    color: yellow;
}

.box-container h4 {
    margin: 0;
    color: whitesmoke;
    font-weight: 500;
}

.phones-container {
    text-align: center;
    margin-top: 50px;
}

.phones-container>div {
    padding: 5%;
}
.phones-container img{
    width: 35%;
}

.trade-more-container {
    text-align: center;
    display: block;
}

.trade-more-container h1 {
    font-size: 4.5rem;
    margin: 0;
}
.trade-more-container h5 {
    font-size: 1.6rem;
    font-weight: 400;
    margin:15px 0;
    color: rgb(188, 224, 212);

}

.trade-more-container p{
    margin: 0;
    display: inline;
    color: yellow;
}
.coin-comparison{
    margin-top: 100px;
}
.coin-comparison img{
    width: 90%;
}

.explore-container{
    text-align: center;
    font-size: 3rem;
    margin-top: 200px;
}
.explore-container p{
    display: inline-block;
    margin: 0;
    color: yellow;
}
.explore-container h1{
    margin: 0;
}
.explore-container h5{
    margin: 0;
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(188, 224, 212);
}
.coin-chart-container{
    margin-top: 60px;
}
.coin-chart-container img{
    width: 90%;
}
.explore-market-btn{
    display: block;
    margin: auto;
    width: 268px;
    height: 48px;
    background: linear-gradient(85.85deg, #D4F938 23.09%, #32D875 108.69%);
    box-shadow: 0px 0px 16px rgba(168, 239, 156, 0.8);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
    color: black;
    font-weight: 700;
    font-size: 1.3rem;
}
.unlock-container {
    text-align: center;
    font-size: 3rem;
    margin-top: 200px;
}

.unlock-container p {
    display: inline-block;
    margin: 0;
    color: yellow;
}
.unlock-container h1 {
    margin: 0;
}

.unlock-container h5 {
    margin: 0;
    margin-top: 30px;
    font-size: 1.4rem;
    font-weight: 500;
    color: rgb(188, 224, 212);
}

/* over view container */

.overview-container {
    display: flex;
    justify-content: center;
    margin-top: 100px;
}

.overview-container>div {
    display: flex;
    border: 2px solid rgba(142, 115, 115, 0.649);
    justify-content: center;
    font-family: Neurial Grotesk;
    width: 60%;
    justify-content: space-between;
    padding: 40px;

}

.overview-box {
    justify-content: space-between;
    border-right: 1px solid rgba(160, 138, 138, 0.597);
    padding-right: 5%;
    padding-left: 1%;
}

.overview-box h1 {
    margin: 0;
    font-weight: 600;
    color: white;
}
.BSTDIMG{
    text-align: center;
    margin-top: 100px;
}
/* small container section */

.start-small-container{
    background-color: white;
    color: black;
    height: 800px;
    padding-top: 50px;
}
.start-small-container h1{
    background-color: white;
    text-align: center;
    color: black;
    font-size: 4rem;
    margin: 0;
    padding: 20px;
}
.start-small-container h5{
    background-color: white;
    color: black;
    text-align: center;
    font-size: 1.3rem;
    margin: 0;
    padding-bottom: 20px;
    font-weight: 500;
}

.start-small-images-container{
    display: flex;
    width: 100%;
    background-color: white;
    justify-content: center;
    gap: 50px;
    padding: 100px 0 0 0;
}
.start-small-images-container img{
    height: 10%;
    width: 32%;
}

/* derivates section */

.derivates-container{
margin: 80px 0;
}
.derivates-container> h1{
    text-align: center; 
    font-size: 4rem;
}
.derivates-user-guide-container{
    display: flex;
    flex-direction: column;
    justify-items: center;
    margin-top: 100px;
    gap: 200px;
}
.guide-box{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
}
.iphone14-img-container{
    padding: 2%;
}
.iphone14-img-container img{
    width: 100%;
}
.guide-info-container{
    margin-left: 8%;
}
.guide-info-container h2{
    font-size: 3rem;
}
.guide-info-container h5{
    font-size: 1.5rem;
    font-weight: 400;
    color: rgb(215, 203, 203);
    padding: 25px 0;
}
.guide-info-container button{
    display: block;
    width: 250px;
    height: 48px;
    background: linear-gradient(85.85deg, #D4F938 23.09%, #32D875 108.69%);
    box-shadow: 0px 0px 16px rgba(168, 239, 156, 0.8);
    backdrop-filter: blur(5px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 8px;
    color: black;
    font-weight: 700;
    text-transform: uppercase;
    font-size: 1.3rem;
}
.backed-by-the-best-container{
    margin-top: 50px;
}
.backed-by-the-best-container h1{
    text-align: center;
    font-size: 4rem;
    margin: 100px 0;
}
.backed-by-the-best-container img{
    width: 100%;
}

/* <----------responsiveness------> */
@media only screen and (max-width:800px) {

        .box-container h1 {
            font-size: 1.5rem;
        }
    
        .box-container h4 {
            font-size: .5rem;
        }
        .phones-container>div>img{
            width: 40%;
        }
        .trade-more-container h1 {
            font-size: 3rem;
            margin: 0;
        }

        .trade-more-container h5 {
            font-size: 1.2rem;
            font-weight: 400;
            margin: 15px 0;
            color: rgb(188, 224, 212);

        }
        .overview-box h1{
            font-size: 3vw;
        }
        .guide-box {
            flex-direction: column;
            justify-items: center;
            gap: 50px;
        }
        .backed-by-the-best-container h1 {
            text-align: center;
            font-size: 8vw;
            margin: 100px 0;
        }
}